build-stamp
configure-stamp
install

*.swp
*.swo
.pc

debian/scangearmp2.debhelper.log
debian/scangearmp2.substvars
debian/files
debian/scangearmp2/

scangearmp2/aclocal.m4
scangearmp2/compile
scangearmp2/config.guess
scangearmp2/config.h
scangearmp2/config.h.in
scangearmp2/config.log
scangearmp2/config.status
scangearmp2/config.sub
scangearmp2/configure
scangearmp2/depcomp
scangearmp2/install-sh
scangearmp2/libtool
scangearmp2/ltmain.sh
scangearmp2/Makefile
scangearmp2/Makefile.in
scangearmp2/missing
scangearmp2/scangearmp2.glade.h
scangearmp2/stamp-h1

scangearmp2/etc/Makefile
scangearmp2/etc/Makefile.in

scangearmp2/include/Makefile
scangearmp2/include/Makefile.in


scangearmp2/po/Makefile
scangearmp2/po/Makefile.in
scangearmp2/po/Makefile.in.in
scangearmp2/po/*.gmo
scangearmp2/po/POTFILES

scangearmp2/src/*.o
scangearmp2/src/*.lo
scangearmp2/src/*.la
scangearmp2/src/Makefile
scangearmp2/src/Makefile.in

scangearmp2/src/sane/*.lo
scangearmp2/src/sane/*.o

scangearmp2/src/.deps
scangearmp2/src/.libs
scangearmp2/src/sane/.deps
scangearmp2/src/sane/.libs
scangearmp2/src/sane/.dirstamp
