Source: scangearmp2
Section: graphics
Priority: optional
Maintainer: Canon Inc. <sup-debian@list.canon.co.jp>
Build-Depends: debhelper (>= 4.0.0), libglib2.0-dev, libgtk2.0-dev, libusb-1.0-0-dev, libtool-bin | libtool, libjpeg-dev
Standards-Version: 3.7.2

Package: scangearmp2
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ScanGear MP for Linux.
 This ScanGear MP provides scanning functions for Canon Multifunction Inkjet Printer.
